.blazor-loadingindicator-loader-wrapper {
    padding: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.blazor-loadingindicator-loader {
    margin-right: 2em;
}

@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-dual-ring {
    position: relative;
}

    .lds-dual-ring div {
        position: absolute;
        width: 4em;
        height: 4em;
        border-radius: 50%;
        border: 0.25em solid #000;
        border-color: #1d3f72 transparent #1d3f72 transparent;
        -webkit-animation: lds-dual-ring 1s linear infinite;
        animation: lds-dual-ring 1s linear infinite;
    }

.lds-dual-ring {
    width: 4em !important;
    height: 4em !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
