@inherits LoadingIndicatorTemplateBase
<!-- https://codepen.io/jackrugile/pen/JddmaX -->
<div class="loader">
    <div class="loader-inner">
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
        <div class="loader-line-wrap">
            <div class="loader-line"></div>
        </div>
    </div>
</div>
<h4 style="text-align: center; width: 100%;">@CurrentTask?.Maintext</h4>
<h5 style="text-align: center; width: 100%;">@CurrentTask?.Subtext</h5>
