@implements IDisposable
@inject IIndicatorService IndicatorService

@if (CurrentTask?.Exception != null && ErrorContent != null)
{
    @ErrorContent(CurrentTask)
}
else if (CurrentTask != null)
{
    @InProgressTemplate(CurrentTask)
}
<div style="@(((CurrentTask?.Exception != null && ErrorContent == null) ||
              CurrentTask == null) ? string.Empty : CONTENT_HIDDEN)">
    @ChildContent
</div>

@code {
    private const string CONTENT_HIDDEN = "display: none;";

    [Parameter] public RenderFragment<ITaskStatus> InProgressTemplate { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public RenderFragment<ITaskStatus> ErrorContent { get; set; }

    [Parameter] public string IndicatorContext { get; set; }

    [Parameter] public Type TemplateType { get; set; }

    private ITaskStatus CurrentTask { get; set; }

    private static readonly Type DefaultInProgressTemplateType = typeof(DefaultTemplate);

    // https://stackoverflow.com/questions/50188680/add-load-components-dynamically
    RenderFragment<ITaskStatus> InProgressContentCreator() => taskStatus =>
    {
        return new RenderFragment((builder) =>
        {
            builder.OpenComponent(0, TemplateType ?? IndicatorService.DefaultTemplateType ?? DefaultInProgressTemplateType);
            builder.AddAttribute(0, nameof(IndicatorTemplateBase.CurrentTask), taskStatus);
            builder.CloseComponent();
        });
    };

    private async Task HandleTaskProgressChangedEvent(ITaskStatus task)
    {
        CurrentTask = task;
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        IndicatorService.SubscribeToTaskProgressChanged(IndicatorContext, HandleTaskProgressChangedEvent);
        if (InProgressTemplate == null)
            InProgressTemplate = InProgressContentCreator();

        base.OnInitialized();
    }

    public void Dispose()
    {
        IndicatorService.UnsubscribeFromTaskProgressChanged(IndicatorContext, HandleTaskProgressChangedEvent);
    }
}
